In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv("./NFWBS_PUF_2016_data.csv")
df.head()

,PUF_ID,sample,fpl,SWB_1,SWB_2,SWB_3,FWBscore,FWB1_1,FWB1_2,FWB1_3,...,PPMSACAT,PPREG4,PPREG9,PPT01,PPT25,PPT612,PPT1317,PPT18OV,PCTLT200FPL,finalwt
0,10350,2,3,5,5,6,55,3,3,3,...,1,4,8,0,0,0,0,1,0,0.367292
1,7740,1,3,6,6,6,51,2,2,3,...,1,2,3,0,0,0,0,2,0,1.327561
2,13699,1,3,4,3,4,49,3,3,3,...,1,4,9,0,0,0,1,2,1,0.835156
3,7267,1,3,6,6,6,49,3,3,3,...,1,3,7,0,0,0,0,1,0,1.410871
4,7375,1,3,4,4,4,49,3,3,3,...,1,2,4,0,0,1,0,4,1,4.260668

In [15]:
list(df.columns)

['PUF_ID',
 'sample',
 'fpl',
 'SWB_1',
 'SWB_2',
 'SWB_3',
 'FWBscore',
 'FWB1_1',
 'FWB1_2',
 'FWB1_3',
 'FWB1_4',
 'FWB1_5',
 'FWB1_6',
 'FWB2_1',
 'FWB2_2',
 'FWB2_3',
 'FWB2_4',
 'FSscore',
 'FS1_1',
 'FS1_2',
 'FS1_3',
 'FS1_4',
 'FS1_5',
 'FS1_6',
 'FS1_7',
 'FS2_1',
 'FS2_2',
 'FS2_3',
 'SUBKNOWL1',
 'ACT1_1',
 'ACT1_2',
 'FINGOALS',
 'PROPPLAN_1',
 'PROPPLAN_2',
 'PROPPLAN_3',
 'PROPPLAN_4',
 'MANAGE1_1',
 'MANAGE1_2',
 'MANAGE1_3',
 'MANAGE1_4',
 'SAVEHABIT',
 'FRUGALITY',
 'AUTOMATED_1',
 'AUTOMATED_2',
 'ASK1_1',
 'ASK1_2',
 'SUBNUMERACY2',
 'SUBNUMERACY1',
 'CHANGEABLE',
 'GOALCONF',
 'LMscore',
 'FINKNOWL1',
 'FINKNOWL2',
 'FINKNOWL3',
 'FK1correct',
 'FK2correct',
 'FK3correct',
 'KHscore',
 'KHKNOWL1',
 'KHKNOWL2',
 'KHKNOWL3',
 'KHKNOWL4',
 'KHKNOWL5',
 'KHKNOWL6',
 'KHKNOWL7',
 'KHKNOWL8',
 'KHKNOWL9',
 'KH1correct',
 'KH2correct',
 'KH3correct',
 'KH4correct',
 'KH5correct',
 'KH6correct',
 'KH7correct',
 'KH8correct',
 'KH9correct',
 'ENDSMEET',
 'HOUSING',
 'LIVINGARRANGEMENT',
 'HOUSERANGES',
 'IMPUTATION_FLAG',
 'VALUERANGES',
 'MORTGAGE',
 'SAVINGSRANGES',
 'PRODHAVE_1',
 'PRODHAVE_2',
 'PRODHAVE_3',
 'PRODHAVE_4',
 'PRODHAVE_5',
 'PRODHAVE_6',
 'PRODHAVE_7',
 'PRODHAVE_8',
 'PRODHAVE_9',
 'PRODUSE_1',
 'PRODUSE_2',
 'PRODUSE_3',
 'PRODUSE_4',
 'PRODUSE_5',
 'PRODUSE_6',
 'CONSPROTECT1',
 'CONSPROTECT2',
 'CONSPROTECT3',
 'EARNERS',
 'VOLATILITY',
 'SNAP',
 'MATHARDSHIP_1',
 'MATHARDSHIP_2',
 'MATHARDSHIP_3',
 'MATHARDSHIP_4',
 'MATHARDSHIP_5',
 'MATHARDSHIP_6',
 'COLLECT',
 'REJECTED_1',
 'REJECTED_2',
 'ABSORBSHOCK',
 'BENEFITS_1',
 'BENEFITS_2',
 'BENEFITS_3',
 'BENEFITS_4',
 'BENEFITS_5',
 'FRAUD2',
 'COVERCOSTS',
 'BORROW_1',
 'BORROW_2',
 'SHOCKS_1',
 'SHOCKS_2',
 'SHOCKS_3',
 'SHOCKS_4',
 'SHOCKS_5',
 'SHOCKS_6',
 'SHOCKS_7',
 'SHOCKS_8',
 'SHOCKS_9',
 'SHOCKS_10',
 'SHOCKS_11',
 'SHOCKS_12',
 'MANAGE2',
 'PAIDHELP',
 'HSLOC',
 'PAREDUC',
 'FINSOC2_1',
 'FINSOC2_2',
 'FINSOC2_3',
 'FINSOC2_4',
 'FINSOC2_5',
 'FINSOC2_6',
 'FINSOC2_7',
 'OBJNUMERACY1',
 'ON2correct',
 'ON1correct',
 'MATERIALISM_1',
 'MATERIALISM_2',
 'MATERIALISM_3',
 'CONNECT',
 'HEALTH',
 'SCFHORIZON',
 'DISCOUNT',
 'MEMLOSS',
 'DISTRESS',
 'SELFCONTROL_1',
 'SELFCONTROL_2',
 'SELFCONTROL_3',
 'OUTLOOK_1',
 'OUTLOOK_2',
 'INTERCONNECTIONS_1',
 'INTERCONNECTIONS_2',
 'INTERCONNECTIONS_3',
 'INTERCONNECTIONS_4',
 'INTERCONNECTIONS_5',
 'INTERCONNECTIONS_6',
 'INTERCONNECTIONS_7',
 'INTERCONNECTIONS_8',
 'INTERCONNECTIONS_9',
 'INTERCONNECTIONS_10',
 'PEM',
 'HOUSESAT',
 'SOCSEC1',
 'SOCSEC2',
 'SOCSEC3',
 'LIFEEXPECT',
 'HHEDUC',
 'KIDS_NoChildren',
 'KIDS_1',
 'KIDS_2',
 'KIDS_3',
 'KIDS_4',
 'EMPLOY',
 'EMPLOY1_1',
 'EMPLOY1_2',
 'EMPLOY1_3',
 'EMPLOY1_4',
 'EMPLOY1_5',
 'EMPLOY1_6',
 'EMPLOY1_7',
 'EMPLOY1_8',
 'EMPLOY1_9',
 'RETIRE',
 'MILITARY',
 'Military_Status',
 'agecat',
 'generation',
 'PPEDUC',
 'PPETHM',
 'PPGENDER',
 'PPHHSIZE',
 'PPINCIMP',
 'PPMARIT',
 'PPMSACAT',
 'PPREG4',
 'PPREG9',
 'PPT01',
 'PPT25',
 'PPT612',
 'PPT1317',
 'PPT18OV',
 'PCTLT200FPL',
 'finalwt']

In [31]:
df.isnull().any()

PUF_ID             False
sample             False
fpl                False
SWB_1              False
SWB_2              False
SWB_3              False
FWBscore           False
FWB1_1             False
FWB1_2             False
FWB1_3             False
FWB1_4             False
FWB1_5             False
FWB1_6             False
FWB2_1             False
FWB2_2             False
FWB2_3             False
FWB2_4             False
FSscore            False
FS1_1              False
FS1_2              False
FS1_3              False
FS1_4              False
FS1_5              False
FS1_6              False
FS1_7              False
FS2_1              False
FS2_2              False
FS2_3              False
SUBKNOWL1          False
ACT1_1             False
                   ...
EMPLOY1_1          False
EMPLOY1_2          False
EMPLOY1_3          False
EMPLOY1_4          False
EMPLOY1_5          False
EMPLOY1_6          False
EMPLOY1_7          False
EMPLOY1_8          False
EMPLOY1_9          False
RETIRE             False
MILITARY           False
Military_Status    False
agecat             False
generation         False
PPEDUC             False
PPETHM             False
PPGENDER           False
PPHHSIZE           False
PPINCIMP           False
PPMARIT            False
PPMSACAT           False
PPREG4             False
PPREG9             False
PPT01              False
PPT25              False
PPT612             False
PPT1317            False
PPT18OV            False
PCTLT200FPL        False
finalwt            False
Length: 217, dtype: bool

In [16]:
list(df.isnull().any())

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

We can see that none of the columns contain any NULL values, meaning that we are **not** missing any data. However, it is important to note that our dataset is a survey, so most of our columns are survey questions and some of the allowed responses include "Refused" (represented by the value -1). We also have "Response not written to dataset" (represented by the value -4). In order to get the response rate for the survey questions, we will create a copy of the dataframe and replace these values with None/Null, given that they don't answer the survey question asked. Keep in mind this is just a check; we are not getting rid of these values at this point.

In [32]:
nonresponse_values = [-1, -4]
temp_df = df.copy()
cols = temp_df.columns
for col in cols:
    col_values = temp_df[col]
    temp_df[col] = np.where(col_values.isin(nonresponse_values),None,temp_df[col])
temp_df.head()

,PUF_ID,sample,fpl,SWB_1,SWB_2,SWB_3,FWBscore,FWB1_1,FWB1_2,FWB1_3,...,PPMSACAT,PPREG4,PPREG9,PPT01,PPT25,PPT612,PPT1317,PPT18OV,PCTLT200FPL,finalwt
0,10350,2,3,5,5,6,55,3,3,3,...,1,4,8,0,0,0,0,1,0,0.367292
1,7740,1,3,6,6,6,51,2,2,3,...,1,2,3,0,0,0,0,2,0,1.32756
2,13699,1,3,4,3,4,49,3,3,3,...,1,4,9,0,0,0,1,2,1,0.835156
3,7267,1,3,6,6,6,49,3,3,3,...,1,3,7,0,0,0,0,1,0,1.41087
4,7375,1,3,4,4,4,49,3,3,3,...,1,2,4,0,0,1,0,4,1,4.26067

In [30]:
temp_df.isnull().any()

PUF_ID             False
sample             False
fpl                False
SWB_1               True
SWB_2               True
SWB_3               True
FWBscore            True
FWB1_1              True
FWB1_2              True
FWB1_3              True
FWB1_4              True
FWB1_5              True
FWB1_6              True
FWB2_1              True
FWB2_2              True
FWB2_3              True
FWB2_4              True
FSscore             True
FS1_1               True
FS1_2               True
FS1_3               True
FS1_4               True
FS1_5               True
FS1_6               True
FS1_7               True
FS2_1               True
FS2_2               True
FS2_3               True
SUBKNOWL1           True
ACT1_1              True
                   ...
EMPLOY1_1          False
EMPLOY1_2          False
EMPLOY1_3          False
EMPLOY1_4          False
EMPLOY1_5          False
EMPLOY1_6          False
EMPLOY1_7          False
EMPLOY1_8          False
EMPLOY1_9          False
RETIRE              True
MILITARY            True
Military_Status     True
agecat             False
generation         False
PPEDUC             False
PPETHM             False
PPGENDER           False
PPHHSIZE           False
PPINCIMP           False
PPMARIT            False
PPMSACAT           False
PPREG4             False
PPREG9             False
PPT01              False
PPT25              False
PPT612             False
PPT1317            False
PPT18OV            False
PCTLT200FPL        False
finalwt            False
Length: 217, dtype: bool

In [70]:
response_rates = {}
for col in cols:
    valid_value_count = temp_df[col].count()
    total_rows = len(temp_df[col])
    res_rate = round(valid_value_count/total_rows,2)
    response_rates[col] = res_rate
response_rates

{'PUF_ID': 1.0,
 'sample': 1.0,
 'fpl': 1.0,
 'SWB_1': 1.0,
 'SWB_2': 0.98999999999999999,
 'SWB_3': 0.98999999999999999,
 'FWBscore': 1.0,
 'FWB1_1': 1.0,
 'FWB1_2': 1.0,
 'FWB1_3': 1.0,
 'FWB1_4': 1.0,
 'FWB1_5': 1.0,
 'FWB1_6': 1.0,
 'FWB2_1': 1.0,
 'FWB2_2': 1.0,
 'FWB2_3': 1.0,
 'FWB2_4': 1.0,
 'FSscore': 1.0,
 'FS1_1': 1.0,
 'FS1_2': 1.0,
 'FS1_3': 1.0,
 'FS1_4': 1.0,
 'FS1_5': 1.0,
 'FS1_6': 1.0,
 'FS1_7': 1.0,
 'FS2_1': 1.0,
 'FS2_2': 1.0,
 'FS2_3': 1.0,
 'SUBKNOWL1': 0.98999999999999999,
 'ACT1_1': 1.0,
 'ACT1_2': 1.0,
 'FINGOALS': 0.98999999999999999,
 'PROPPLAN_1': 1.0,
 'PROPPLAN_2': 1.0,
 'PROPPLAN_3': 1.0,
 'PROPPLAN_4': 1.0,
 'MANAGE1_1': 1.0,
 'MANAGE1_2': 1.0,
 'MANAGE1_3': 1.0,
 'MANAGE1_4': 1.0,
 'SAVEHABIT': 1.0,
 'FRUGALITY': 1.0,
 'AUTOMATED_1': 0.98999999999999999,
 'AUTOMATED_2': 0.97999999999999998,
 'ASK1_1': 1.0,
 'ASK1_2': 1.0,
 'SUBNUMERACY2': 0.98999999999999999,
 'SUBNUMERACY1': 0.98999999999999999,
 'CHANGEABLE': 0.98999999999999999,
 'GOALCONF': 1.0,
 'LMscore': 1.0,
 'FINKNOWL1': 1.0,
 'FINKNOWL2': 0.98999999999999999,
 'FINKNOWL3': 0.98999999999999999,
 'FK1correct': 1.0,
 'FK2correct': 1.0,
 'FK3correct': 1.0,
 'KHscore': 1.0,
 'KHKNOWL1': 0.98999999999999999,
 'KHKNOWL2': 0.98999999999999999,
 'KHKNOWL3': 0.98999999999999999,
 'KHKNOWL4': 0.98999999999999999,
 'KHKNOWL5': 0.98999999999999999,
 'KHKNOWL6': 1.0,
 'KHKNOWL7': 0.98999999999999999,
 'KHKNOWL8': 0.98999999999999999,
 'KHKNOWL9': 0.98999999999999999,
 'KH1correct': 1.0,
 'KH2correct': 1.0,
 'KH3correct': 1.0,
 'KH4correct': 1.0,
 'KH5correct': 1.0,
 'KH6correct': 1.0,
 'KH7correct': 1.0,
 'KH8correct': 1.0,
 'KH9correct': 1.0,
 'ENDSMEET': 0.98999999999999999,
 'HOUSING': 0.98999999999999999,
 'LIVINGARRANGEMENT': 1.0,
 'HOUSERANGES': 0.98999999999999999,
 'IMPUTATION_FLAG': 1.0,
 'VALUERANGES': 1.0,
 'MORTGAGE': 0.98999999999999999,
 'SAVINGSRANGES': 0.98999999999999999,
 'PRODHAVE_1': 1.0,
 'PRODHAVE_2': 1.0,
 'PRODHAVE_3': 1.0,
 'PRODHAVE_4': 1.0,
 'PRODHAVE_5': 1.0,
 'PRODHAVE_6': 1.0,
 'PRODHAVE_7': 1.0,
 'PRODHAVE_8': 1.0,
 'PRODHAVE_9': 1.0,
 'PRODUSE_1': 1.0,
 'PRODUSE_2': 1.0,
 'PRODUSE_3': 1.0,
 'PRODUSE_4': 1.0,
 'PRODUSE_5': 1.0,
 'PRODUSE_6': 1.0,
 'CONSPROTECT1': 0.98999999999999999,
 'CONSPROTECT2': 0.98999999999999999,
 'CONSPROTECT3': 0.98999999999999999,
 'EARNERS': 0.98999999999999999,
 'VOLATILITY': 0.98999999999999999,
 'SNAP': 0.98999999999999999,
 'MATHARDSHIP_1': 1.0,
 'MATHARDSHIP_2': 1.0,
 'MATHARDSHIP_3': 1.0,
 'MATHARDSHIP_4': 1.0,
 'MATHARDSHIP_5': 1.0,
 'MATHARDSHIP_6': 1.0,
 'COLLECT': 0.98999999999999999,
 'REJECTED_1': 0.98999999999999999,
 'REJECTED_2': 0.97999999999999998,
 'ABSORBSHOCK': 0.98999999999999999,
 'BENEFITS_1': 0.98999999999999999,
 'BENEFITS_2': 0.98999999999999999,
 'BENEFITS_3': 0.98999999999999999,
 'BENEFITS_4': 0.98999999999999999,
 'BENEFITS_5': 0.98999999999999999,
 'FRAUD2': 0.98999999999999999,
 'COVERCOSTS': 0.98999999999999999,
 'BORROW_1': 0.96999999999999997,
 'BORROW_2': 0.95999999999999996,
 'SHOCKS_1': 1.0,
 'SHOCKS_2': 1.0,
 'SHOCKS_3': 1.0,
 'SHOCKS_4': 1.0,
 'SHOCKS_5': 1.0,
 'SHOCKS_6': 1.0,
 'SHOCKS_7': 1.0,
 'SHOCKS_8': 1.0,
 'SHOCKS_9': 1.0,
 'SHOCKS_10': 1.0,
 'SHOCKS_11': 1.0,
 'SHOCKS_12': 1.0,
 'MANAGE2': 0.98999999999999999,
 'PAIDHELP': 1.0,
 'HSLOC': 0.90000000000000002,
 'PAREDUC': 0.98999999999999999,
 'FINSOC2_1': 1.0,
 'FINSOC2_2': 1.0,
 'FINSOC2_3': 1.0,
 'FINSOC2_4': 1.0,
 'FINSOC2_5': 1.0,
 'FINSOC2_6': 1.0,
 'FINSOC2_7': 1.0,
 'OBJNUMERACY1': 0.95999999999999996,
 'ON2correct': 1.0,
 'ON1correct': 1.0,
 'MATERIALISM_1': 0.96999999999999997,
 'MATERIALISM_2': 0.96999999999999997,
 'MATERIALISM_3': 0.96999999999999997,
 'CONNECT': 0.94999999999999996,
 'HEALTH': 0.98999999999999999,
 'SCFHORIZON': 0.98999999999999999,
 'DISCOUNT': 0.98999999999999999,
 'MEMLOSS': 0.98999999999999999,
 'DISTRESS': 0.98999999999999999,
 'SELFCONTROL_1': 0.98999999999999999,
 'SELFCONTROL_2': 0.98999999999999999,
 'SELFCONTROL_3': 0.98999999999999999,
 'OUTLOOK_1': 0.98999999999999999,
 'OUTLOOK_2': 0.98999999999999999,
 'INTERCONNECTIONS_1': 1.0,
 'INTERCONNECTIONS_2': 1.0,
 'INTERCONNECTIONS_3': 1.0,
 'INTERCONNECTIONS_4': 1.0,
 'INTERCONNECTIONS_5': 1.0,
 'INTERCONNECTIONS_6': 1.0,
 'INTERCONNECTIONS_7': 1.0,
 'INTERCONNECTIONS_8': 1.0,
 'INTERCONNECTIONS_9': 1.0,
 'INTERCONNECTIONS_10': 1.0,
 'PEM': 0.98999999999999999,
 'HOUSESAT': 0.98999999999999999,
 'SOCSEC1': 1.0,
 'SOCSEC2': 1.0,
 'SOCSEC3': 0.97999999999999998,
 'LIFEEXPECT': 0.97999999999999998,
 'HHEDUC': 0.98999999999999999,
 'KIDS_NoChildren': 0.91000000000000003,
 'KIDS_1': 1.0,
 'KIDS_2': 1.0,
 'KIDS_3': 1.0,
 'KIDS_4': 1.0,
 'EMPLOY': 1.0,
 'EMPLOY1_1': 1.0,
 'EMPLOY1_2': 1.0,
 'EMPLOY1_3': 1.0,
 'EMPLOY1_4': 1.0,
 'EMPLOY1_5': 1.0,
 'EMPLOY1_6': 1.0,
 'EMPLOY1_7': 1.0,
 'EMPLOY1_8': 1.0,
 'EMPLOY1_9': 1.0,
 'RETIRE': 1.0,
 'MILITARY': 0.98999999999999999,
 'Military_Status': 0.98999999999999999,
 'agecat': 1.0,
 'generation': 1.0,
 'PPEDUC': 1.0,
 'PPETHM': 1.0,
 'PPGENDER': 1.0,
 'PPHHSIZE': 1.0,
 'PPINCIMP': 1.0,
 'PPMARIT': 1.0,
 'PPMSACAT': 1.0,
 'PPREG4': 1.0,
 'PPREG9': 1.0,
 'PPT01': 1.0,
 'PPT25': 1.0,
 'PPT612': 1.0,
 'PPT1317': 1.0,
 'PPT18OV': 1.0,
 'PCTLT200FPL': 1.0,
 'finalwt': 1.0}

In [71]:
min(response_rates.values())

0.90000000000000002

We can see the that minimum response rate for all the survey variables is 90%, which is pretty high. We may be able to keep all of the selected columns, given that they are expected to have a 90% response rate or higher.