In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("NFCS 2018 State Data 190603.csv")
df

,NFCSID,STATEQ,CENSUSDIV,CENSUSREG,A3,A3Ar_w,A3B,A4A_new_w,A5_2015,A6,...,M42,M6,M7,M8,M31,M9,M10,wgt_n2,wgt_d2,wgt_s3
0,2018010001,48,9,4,2,5,11,1,5,4,...,,1,3,98,98,98,1,0.683683,0.519642,1.095189
1,2018010002,10,5,3,2,2,8,1,6,1,...,,1,3,98,3,1,98,0.808358,2.516841,0.922693
2,2018010003,44,7,3,2,2,8,1,6,1,...,,1,1,98,98,1,98,1.021551,1.896192,0.671093
3,2018010004,10,5,3,2,1,7,1,6,2,...,7,98,98,4,4,2,98,0.808358,2.516841,0.922693
4,2018010005,13,8,4,1,2,2,1,6,1,...,,1,3,98,2,1,98,0.448075,0.614733,1.232221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27086,2018037087,51,8,4,2,3,9,1,2,1,...,,1,2,1,1,1,2,0.404002,0.183442,0.808332
27087,2018037088,20,1,1,2,2,8,2,2,1,...,,1,2,98,98,98,98,0.475130,0.737766,1.116158
27088,2018037089,20,1,1,1,2,2,2,6,2,...,,1,3,4,3,98,98,0.531368,0.713412,2.392632
27089,2018037090,20,1,1,2,1,7,2,6,2,...,,1,2,3,3,1,2,0.377318,0.546359,0.965486
27090,2018037091,20,1,1,2,1,7,2,4,2,...,5,1,3,1,2,1,1,0.475130,0.737766,1.116158

In [3]:
df.isnull().values.any()

False

In [4]:
my_list = df.columns.values.tolist()
#my_list

['NFCSID',
 'STATEQ',
 'CENSUSDIV',
 'CENSUSREG',
 'A3',
 'A3Ar_w',
 'A3B',
 'A4A_new_w',
 'A5_2015',
 'A6',
 'A7',
 'A7A',
 'A11',
 'A8',
 'AM21',
 'AM30',
 'AM31',
 'AM22',
 'X3',
 'X4',
 'A9',
 'A40',
 'A10',
 'A10A',
 'A21_2015',
 'A22_2015',
 'A14',
 'A41',
 'J1',
 'J2',
 'J3',
 'J4',
 'J40',
 'J5',
 'J6',
 'J8',
 'J9',
 'J10',
 'J20',
 'J32',
 'J33_1',
 'J33_40',
 'J33_41',
 'J41_1',
 'J41_2',
 'J41_3',
 'J42_1',
 'J42_2',
 'J43',
 'B1',
 'B2',
 'B4',
 'B40',
 'B41_1',
 'B41_2',
 'B31',
 'B42',
 'B43',
 'B44',
 'C1_2012',
 'C2_2012',
 'C3_2012',
 'C4_2012',
 'C5_2012',
 'C10_2012',
 'C11_2012',
 'B14',
 'C40',
 'C41',
 'D40',
 'EA_1',
 'E7',
 'E8',
 'E20',
 'E15_2015',
 'F1',
 'F2_1',
 'F2_2',
 'F2_3',
 'F2_4',
 'F2_5',
 'F2_6',
 'F10',
 'G1',
 'G20',
 'G30_1',
 'G30_2',
 'G30_3',
 'G30_4',
 'G30_5',
 'G30_97',
 'G30_98',
 'G30_99',
 'G33',
 'G35',
 'G22_2015',
 'G40',
 'G25_1',
 'G25_2',
 'G25_3',
 'G25_4',
 'G25_5',
 'G38',
 'G23',
 'H1',
 'H30_1',
 'H30_2',
 'H30_3',
 'M1_1',
 'M1_2',
 'M4',
 'M40',
 'M20',
 'M21_1',
 'M21_2_2015',
 'M21_3',
 'M21_4',
 'M41',
 'M42',
 'M6',
 'M7',
 'M8',
 'M31',
 'M9',
 'M10',
 'wgt_n2',
 'wgt_d2',
 'wgt_s3']

We might want to consider the following points
* J4
* J33_40
* J42_1
* B2
* C40
* F2_6
* G20
* all of G30
* G22
* G25_2
* H1
* H30_3
* M4

In [6]:
skinny_df = df[['NFCSID',
 'STATEQ',
 'CENSUSDIV',
 'CENSUSREG',
 'A3',
 'A3Ar_w',
 'A3B',
 'A4A_new_w',
 'A5_2015',
 'A6',
 'A7',
 'A7A',
 'A11',
 'A8',
 'AM21',
 'AM30',
 'AM31',
 'AM22',
 'X3',
 'X4',
 'A9',
 'A40',
 'A10',
 'A10A',
 'A21_2015',
 'A22_2015',
 'A14',
 'A41',
 'J1',
 'J2',
 'J3',
 'J5',
 'J20',
 'J32',
 'J41_1',
 'J41_2',
 'C1_2012',
 'C4_2012',
 'C5_2012',
 'D40',
 'EA_1',
 'E7',
 'E8',
 'E20',
 'E15_2015',
 'F2_1',
 'F2_2',
 'F2_3',
 'F2_4',
 'F2_5',
 'G38',
 'M40',
 'M20',
 'M21_1',
 'M21_2_2015',
 'M21_3',
 'M21_4',
 'M41',
 'M42',
 'M6',
 'M9',
 'M10',
 'wgt_n2',
 'wgt_d2',
 'wgt_s3']]
skinny_df

,NFCSID,STATEQ,CENSUSDIV,CENSUSREG,A3,A3Ar_w,A3B,A4A_new_w,A5_2015,A6,...,M21_3,M21_4,M41,M42,M6,M9,M10,wgt_n2,wgt_d2,wgt_s3
0,2018010001,48,9,4,2,5,11,1,5,4,...,,,,,1,98,1,0.683683,0.519642,1.095189
1,2018010002,10,5,3,2,2,8,1,6,1,...,,,,,1,1,98,0.808358,2.516841,0.922693
2,2018010003,44,7,3,2,2,8,1,6,1,...,,,,,1,1,98,1.021551,1.896192,0.671093
3,2018010004,10,5,3,2,1,7,1,6,2,...,1,,3,7,98,2,98,0.808358,2.516841,0.922693
4,2018010005,13,8,4,1,2,2,1,6,1,...,,,,,1,1,98,0.448075,0.614733,1.232221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27086,2018037087,51,8,4,2,3,9,1,2,1,...,,,,,1,1,2,0.404002,0.183442,0.808332
27087,2018037088,20,1,1,2,2,8,2,2,1,...,,,,,1,98,98,0.475130,0.737766,1.116158
27088,2018037089,20,1,1,1,2,2,2,6,2,...,,,,,1,98,98,0.531368,0.713412,2.392632
27089,2018037090,20,1,1,2,1,7,2,6,2,...,,,,,1,1,2,0.377318,0.546359,0.965486
27090,2018037091,20,1,1,2,1,7,2,4,2,...,1,,1,5,1,1,1,0.475130,0.737766,1.116158