##### *please correct my horrible spelling*

12/20 update:<br>
What is currently in col_map are the only columns that are in both the CSV files that can be combined after some more cleaning. There are other columns that can be brought together but they were not present in one of the two CSV files, and so we need to make a new CSV file that contains the columns that were excluded before that we want to work with.<br>
I think we should get together and discuss the columns that are missing and what we should do, and then from there create a new CSV with the columns we want to use and make them look pretty. <br>

12/23 update:<br>
I got the columns that were ready to be merged together ready I think. Now we need to delete the colums we dont need and bring in the columns that we (might) want. I think it's easier if instead of dropping the columns we don't want now, we just dont include them when we remake the datasets with the columns we excluded before. Let me know what you think!

# Bringing over the data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
FINRA_df = pd.read_csv("../data/FINRA_CLEANED_DF.csv")
CFPB_MAPPED = pd.read_csv("../data/CFPB_MAPPED.csv")
CFPB_UNMAPPED = pd.read_csv("../data/CFPB_UNMAPPED.csv")

In [3]:
FINRA_df = FINRA_df.drop(columns = ['Unnamed: 0'])
#FINRA_df

In [4]:
CFPB_UNMAPPED = CFPB_UNMAPPED.drop(columns = ['Unnamed: 0'])
CFPB_UNMAPPED

,PUF_ID,agecat,PPEDUC,PPETHM,PPGENDER,PPINCIMP,PPHHSIZE,fpl,PPREG4,PPREG9,...,AUTOMATED_2,SAVINGSRANGES,HOUSING,HOUSERANGES,MORTGAGE,PRODHAVE_8,PRODUSE_1,PRODUSE_2,FWBscore,FSscore
0,10350,8,4,1,1,7,1,3,4,8,...,0,6,1,4,2,0,0,0,55,44
1,7740,3,2,1,1,6,2,3,2,3,...,0,2,1,4,2,0,0,0,51,43
2,13699,3,3,2,1,6,3,3,4,9,...,1,4,1,3,2,0,0,0,49,42
3,7267,3,2,1,1,8,1,3,3,7,...,-1,-1,-1,99,-2,0,0,0,49,42
4,7375,2,2,3,1,7,5,3,2,4,...,1,98,2,2,-2,0,0,1,49,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6389,11220,7,5,2,2,9,3,3,2,3,...,1,3,1,6,2,0,0,0,61,47
6390,13118,6,2,2,1,3,3,2,3,6,...,7,99,1,99,99,0,0,0,59,59
6391,8709,2,5,1,2,9,2,3,1,2,...,1,6,2,5,-2,1,0,0,59,51
6392,8515,2,2,4,1,4,2,3,4,9,...,7,99,2,5,-2,0,0,0,46,54
6393,8516,3,5,2,1,4,4,2,3,5,...,0,2,2,5,-2,0,0,0,49,42

In [5]:
CFPB_MAPPED = CFPB_MAPPED.drop(columns = ['Unnamed: 0'])
CFPB_MAPPED

,PUF_ID,Age Group,Education (Highest Degree),Race/Ethnicity,Gender,Household Income,Household Size,Federal Poverty Level,Census Region,Census Division,...,A Non-Retirement Savings Account,How much money do you have in savings today?,Which one of the following best describes your housing situation?,About how much do you pay for your home each month?,What do you owe on your home?,Student/Education Loan (for yourself or someone else),Used payday loan or cash advance loan,Used pawn loan or auto title loan,Financial Well-Being Scale score,Financial Skill Scale score
0,10350,75+,Bachelors degree,"White, Non-Hispanic",Male,"$75,000 to $99,999",1,200%+ FPL,West,Mountain,...,0,6,1,4,2,0,0,0,55,44
1,7740,35-44,High school degree/GED,"White, Non-Hispanic",Male,"$60,000 to $74,999",2,200%+ FPL,Midwest,East-North Central,...,0,2,1,4,2,0,0,0,51,43
2,13699,35-44,Some college/Associate,"Black, Non-Hispanic",Male,"$60,000 to $74,999",3,200%+ FPL,West,Pacific,...,1,4,1,3,2,0,0,0,49,42
3,7267,35-44,High school degree/GED,"White, Non-Hispanic",Male,"$100,000 to $149,999",1,200%+ FPL,South,West-South Central,...,-1,-1,-1,99,-2,0,0,0,49,42
4,7375,25-34,High school degree/GED,"Other, Non-Hispanic",Male,"$75,000 to $99,999",5+,200%+ FPL,Midwest,West-North Central,...,1,98,2,2,-2,0,0,1,49,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6389,11220,70-74,Graduate/professional degree,"Black, Non-Hispanic",Female,"$150,000 or more",3,200%+ FPL,Midwest,East-North Central,...,1,3,1,6,2,0,0,0,61,47
6390,13118,62-69,High school degree/GED,"Black, Non-Hispanic",Male,"$30,000 to $39,999",3,100%-199% FPL,South,East-South Central,...,7,99,1,99,99,0,0,0,59,59
6391,8709,25-34,Graduate/professional degree,"White, Non-Hispanic",Female,"$150,000 or more",2,200%+ FPL,Northeast,Mid-Atlantic,...,1,6,2,5,-2,1,0,0,59,51
6392,8515,25-34,High school degree/GED,Hispanic,Male,"$40,000 to $49,999",2,200%+ FPL,West,Pacific,...,7,99,2,5,-2,0,0,0,46,54
6393,8516,35-44,Graduate/professional degree,"Black, Non-Hispanic",Male,"$40,000 to $49,999",4,100%-199% FPL,South,South Atlantic,...,0,2,2,5,-2,0,0,0,49,42

# Now some extra cleaning to bring the datasets together

In [6]:
CFPB_MAPPED.columns

Index(['PUF_ID', 'Age Group', 'Education (Highest Degree)', 'Race/Ethnicity',
       'Gender', 'Household Income', 'Household Size', 'Federal Poverty Level',
       'Census Region', 'Census Division',
       'I could handle a major unexpected expense.',
       'I am just getting by financially',
       'I struggle to understand financial information',
       'How would you assess your overall financial knowledge?',
       'I follow-through on financial goals I set for myself.',
       'I set financial goals for what I want to achieve with my money',
       'I consult my budget to see how much money I have left',
       'Stayed within your budget or spending plan',
       'Paid all your bills on time', 'Paid off credit card balance in full',
       'Putting money into savings is a habit for me',
       'A Retirement Savings Account', 'A Non-Retirement Savings Account',
       'How much money do you have in savings today?',
       'Which one of the following best describes your housing situation?',
       'About how much do you pay for your home each month?',
       'What do you owe on your home?',
       'Student/Education Loan (for yourself or someone else)',
       'Used payday loan or cash advance loan',
       'Used pawn loan or auto title loan', 'Financial Well-Being Scale score',
       'Financial Skill Scale score'],
      dtype='object')

In [7]:
FINRA_df.columns

Index(['NFCSID', 'STATEQ', 'CENSUSDIV', 'CENSUSREG', 'A3', 'A3Ar_w', 'A3B',
       'A4A_new_w', 'A5_2015', 'A6', 'A7', 'A7A', 'A11', 'A8', 'AM21', 'AM30',
       'AM31', 'AM22', 'X3', 'X4', 'A9', 'A40', 'A10', 'A10A', 'A21_2015',
       'A22_2015', 'A14', 'A41', 'J1', 'J2', 'J3', 'J5', 'J20', 'J32', 'J41_1',
       'J41_2', 'C1_2012', 'C4_2012', 'C5_2012', 'D40', 'EA_1', 'E7', 'E8',
       'E20', 'E15_2015', 'F2_1', 'F2_2', 'F2_3', 'F2_4', 'F2_5', 'G38', 'M40',
       'M20', 'M21_1', 'M21_2_2015', 'M21_3', 'M21_4', 'M41', 'M42', 'M6',
       'M9', 'M10', 'wgt_n2', 'wgt_d2', 'wgt_s3'],
      dtype='object')

In [8]:
col_map = {
    'A3Ar_w':'Age Group', 
    'A5_2015':'Education (Highest Degree)', 
    'A4A_new_w':'Race/Ethnicity', 
    'A3':'Gender',
    'A8':'Household Income',
    'A7':'Household Size', 
    'CENSUSREG':'Census Region', 
    'CENSUSDIV':'Census Division',
    'J41_2':'I am just getting by financially',
    'EA_1':'Do you currently own your home?', 

    #will clean this up later on
    'C1_2012':'Retirement Plan A', 
    'C4_2012':'Retirement Plan B', 
}

################################################################################################
#TO DO LIST
#- See if bottom CFPB columns have pairs in the original FINRA dataset [DONE]
#-set up code to drop columns we no longer need [Might be easier to do when we remake the datasets, talk to group about that]
#-adjust values of columns we're bringing together
#(if we have time)- bring in columns not here yet to clean and combine
########################################################################################
FINRA_df = FINRA_df.rename(columns = col_map)

These are some inital columns from the FINRA dataset that I decided to delete, with some reasoning (we can talk more if you want more detail)
* A3B. Its just a combination of age and gender
* A7A. Meaning not understood
* All Military Columns. Not present in other dataset
* A40. A9 covers enough I believe
* A10. Not in other dataset, not too important
* A22. reponse rate small
* A14. Not in other datset
* J41_1. Not Present in other dataset and probably not too important
* C5_2012. Not Present in Other dataset and probably not too important
* D40. Not in other data set
* E20. Not in other data set
* G38 not in other data set, probably not important
* M21_4. Not too many military data
* M41. Not in other data, not too important, low response rate
* M42 Not in other data, not too important, low response rate
* WGT columns. Not really sure how to use it with other dataset

# -------------------Column explanations-----------------------

## Columns we have ready

### ```NFISID``` and ```PUF_ID```

Since they could still be useful in identifing the different individuals, i'll keep it in

### ```Census Region``` and ```Census Division```

 They look perfect to me! we can combine them as is.

### ```Gender```

Also looks perfect to me!

### ```Age group```

The first four levels (up to age 54) are the same in both datasets, but its differs afterthat. We will need to adjust the last levels of each dataset before mergins

In [9]:
#code here adjust FINRA data
FINRA_df.loc[FINRA_df['Age Group'] > 4, 'Age Group'] = 5

#code to adjust CFPB code (just redo mask lol)
age_group_map = {
    "Age Group":{
      "18-24": "18-24",
      "25-34": "25-34",
      "35-44": "35-44",
      "45-54": "45-54",
      "55-61": "55+",
      "62-69": "55+",
      "70-74": "55+",
      "75+": "55+"
    }
}

CFPB_MAPPED = CFPB_MAPPED.replace(age_group_map)
#CFPB_MAPPED["Age Group"]

### ```Race/Ethnicity``` and ```Race```

As mentioned in our previous meetings, the FINRA dataset has race seperated between white and non-white. We will need to adjust for that

In [10]:
#Change values in CFPB
race_map = {
    "Race/Ethnicity":{
      "White, Non-Hispanic": "White",
      "Black, Non-Hispanic": "Non-White",
      "Other, Non-Hispanic": "Non-White",
      "Hispanic": "Non-White"
    },
}

CFPB_MAPPED = CFPB_MAPPED.replace(race_map)
#CFPB_MAPPED['Race/Ethnicity']

### ```Education (Highest Degree)```

Present in both! FINRA dataset needs to be adjusted to fit to CFPB dataset

### ```Household Income```

Present in both! Both need to be adjusted to fit one another

In [11]:
#Fix CFPB
houseincome_map = {
    "Household Income":{
        "Less than $20,000": "Less than $75,000",
        "$20,000 to $29,999": "Less than $75,000",
        "$30,000 to $39,999": "Less than $75,000",
        "$40,000 to $49,999": "Less than $75,000",
        "$50,000 to $59,999": "Less than $75,000",
        "$60,000 to $74,999": "Less than $75,000",
        "$75,000 to $99,999": "$75,000 to $99,999",
        "$100,000 to $149,999": "$100,000 to $149,999",
        "$150,000 or more": "$150,000 or more"
    }
}
CFPB_MAPPED = CFPB_MAPPED.replace(houseincome_map)

### ```Household Size```

Okay its a bit of a stretch but I think ```A7``` in the FINRA dataset can match with the CFPB column. I say we try it, but if it feels off we can just not include it

In [12]:
housesize_map = {
    "Household Size":{
        "1": "1",
        "2": "2",
        "3": "3+",
        "4": "3+",
        "5+": "3+",
    }
}
CFPB_MAPPED = CFPB_MAPPED.replace(housesize_map)

### ```I am just getting by financially```

`J41_2` in the FINRA dataset and `FWB1_5` in the CFPB dataset are almost exactly the same! Horray!

### ```Retirement Plan```

 The CFPB dataset has the `AUTOMATED_1` which says `A Retirement Savings Account`. In the FINRA dataset we have `C1_2012` and `C4_2012`. They both ask about retirement plans, but one asks whether it came through an employer or not. I think we can still combine these and make a new column to match to `AUTOMATED_1`

In [13]:
#Combine c1 and c4
#new column name 'A Retirement Savings Account'
check_mapA = {
    'Retirement Plan A': {
        1 : 1,
        2 : 0
    }
}
check_mapB = {
    'Retirement Plan B': {
        1 : 1,
        2 : 0
    }
}
FINRA_df = FINRA_df.replace(check_mapA)
FINRA_df = FINRA_df.replace(check_mapB)
FINRA_df['A Retirement Savings Account'] = FINRA_df['Retirement Plan A'] + FINRA_df['Retirement Plan B']
#FINRA_df['A Retirement Savings Account']
FINRA_df = FINRA_df.drop(columns = ['Retirement Plan A', 'Retirement Plan B'])

,NFCSID,STATEQ,Census Division,Census Region,Gender,Age Group,A3B,Race/Ethnicity,Education (Highest Degree),A6,...,M21_4,M41,M42,M6,M9,M10,wgt_n2,wgt_d2,wgt_s3,A Retirement Savings Account
0,2018010001,48,9,4,2,5,11,1,5,4,...,NaN,NaN,NaN,1.0,98.0,1.0,0.683683,0.519642,1.095189,1.0
1,2018010002,10,5,3,2,2,8,1,6,1,...,NaN,NaN,NaN,1.0,1.0,98.0,0.808358,2.516841,0.922693,2.0
2,2018010003,44,7,3,2,2,8,1,6,1,...,NaN,NaN,NaN,1.0,1.0,98.0,1.021551,1.896192,0.671093,1.0
3,2018010004,10,5,3,2,1,7,1,6,2,...,NaN,3.0,7.0,98.0,2.0,98.0,0.808358,2.516841,0.922693,196.0
4,2018010005,13,8,4,1,2,2,1,6,1,...,NaN,NaN,NaN,1.0,1.0,98.0,0.448075,0.614733,1.232221,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27086,2018037087,51,8,4,2,3,9,1,2,1,...,NaN,NaN,NaN,1.0,1.0,2.0,0.404002,0.183442,0.808332,1.0
27087,2018037088,20,1,1,2,2,8,2,2,1,...,NaN,NaN,NaN,1.0,98.0,98.0,0.475130,0.737766,1.116158,0.0
27088,2018037089,20,1,1,1,2,2,2,6,2,...,NaN,NaN,NaN,1.0,98.0,98.0,0.531368,0.713412,2.392632,0.0
27089,2018037090,20,1,1,2,1,7,2,6,2,...,NaN,NaN,NaN,1.0,1.0,2.0,0.377318,0.546359,0.965486,1.0
27090,2018037091,20,1,1,2,1,7,2,4,2,...,NaN,1.0,5.0,1.0,1.0,1.0,0.475130,0.737766,1.116158,98.0

In [14]:
FINRA_df['A Retirement Savings Account'].unique()

array([  1.,   2., 196.,   0.,  99.,  98.,  nan])

### ```Housing```

FINRA has a column, ```EA_1``` that asks whether individuals own their home. `HOUSING` in the CFPB dataset asks if individuals own a home or rent. I think it will be easy to change the adjust the value to capture who is a homeowner and who isn't

In [15]:
#adjust values of EA_1 and HOUSING
CFPB_MAPPED.rename(columns={'Which one of the following best describes your housing situation?':'Do you currently own your home?'}, inplace=True) 
ownhome_map = {
    'Do you currently own your home?': {
        1: 'Yes',
        2 : 'No',
        3 : 'No',
        -1 : np.NaN
    }
}
CFPB_MAPPED = CFPB_MAPPED.replace(ownhome_map)

#CFPB_MAPPED['Do you currently own your home?'].unique()

In [16]:
#Value map for entirety of 
vmap = {
    "Census Region":{
        1: "Northeast",
        2: "Midwest",
        3: "South",
        4: "West"
    },
    "Census Division":{
        1: "New England",
        2: "Mid-Atlantic",
        3: "East-North Central",
        4: "West-North Central",
        5: "South Atlantic",
        6: "East-South Central",
        7: "West-South Central",
        8: "Mountain",
        9: "Pacific"
    }, 
    "Gender":{
        1: "Male",
        2: "Female"
    },
    "Age Group":{
        1: "18-24",
        2: "25-34",
        3: "35-44",
        4: "45-54",
        5: "55+"
    },
    "Race/Ethnicity":{
        1: "White",
        2: "Non-White"
    },
    "Education (Highest Degree)":{
        1: "Less than high school",
        2: "High school degree/GED",
        3: "High school degree/GED",
        4: "Some college/Associate",
        5: "Some college/Associate",
        6: "Bachelors degree",
        7: "Graduate/professional degree"
    },
    "Household Income":{
        1: "Less than $75,000",
        2: "Less than $75,000",
        3: "Less than $75,000",
        4: "Less than $75,000",
        5: "Less than $75,000",
        6: "$75,000 to $99,999",
        7: "$100,000 to $149,999",
        8: "$150,000 or more"
    },
    "Household Size":{
        1: "1",
        2: "2",
        3: "3+",
        4: "3+"
    },
    "I am just getting by financially":{
        1: "Not at all",
        2: "Very little",
        3: "Somewhat",
        4: "Very well",
        5: "Completely"
    },
    'A Retirement Savings Account':{
        0:'No',
        1:'Yes',
        2:'Yes',
        98:np.NaN,
        99:np.NaN,
        196:np.NaN
    },
    'Do you currently own your home?':{
        1:'Yes',
        2:'No',
        98:np.NaN
    }
} 

FINRA_df = FINRA_df.replace(vmap)

## Columns that are missing its pair

### FINRA columns

### ```Marital Status```

There is a column in the orignal dataset of CFPB that wasn't brought over. It could be interesting how marriage and a family could affect someones financial success regardless in spite of the financial education they might have recieved. For now we can drop the marital status column from the FINRA dataset and we can look consider it another time

In [17]:
#drop marital status from FINRA dataset (A6)

In [18]:
#add martial status from CFPB (if we decide to do that) (PPMARIT)

### ```Number of Dependents```

 Same as Marital Status

In [19]:
#drop column from FINRA (A11)

In [20]:
#add column from CFPB (if we decide to later on)(PPT612 Its about children)

### ```Employment Status```

Along the same thinking with ```Marital Status```, I think this can give us better insight into the individuals current situation. I think we should bring that column in from the CFPB dataset

In [21]:
#code to bring in said column (tbh doing it from here might be hard AF so we might want to go back to the orignial cleaning notebook and bring it over from there)
#EMPLOY

### ```Retirement```

I thought this would be a good column to check, but honestly its already answered in the employment question above so we can just delete it

In [22]:
#delete column from FINRA (A10A)

### ```Highest Degree Completed in Household```

This one I think is interesting because although an individual might not an advanced education, maybe their spouse or partner has and therefore they make better decisions. There is also a column in the CFPB dataset that we can grab (HHEDUC, PAREDUC). However, This might be more of a strech goal. We can get rid of it for now but we can consider it for a later time

In [23]:
#drop colum from FINRA (A41)

#Code to bring in CFPB column(HHEDUC, PAREDUC)(strech goal)(read note in Employment Status)

### `How Satisfied are you Financially?`

This one is a bit tricky. In FINRA the question `J1` states `'Overall, thinking of your assets, debts and savings, how satisfied are you with your current personal financial condition?'`, with a scale from 1 to 10. In the CFPB survey there are two sections, one being `SWB_1` which states `'I am satisfied with my life'` with a scale from 1 to 7, and `HOUSESAT` which states '`How satisfied are you with the place you live currently?'` with a scale from 1 to 4.<br>
I think this is an important question because we could find that individuals that are content might not make much progress even if they had financial education. I think `SWB_1` is probably the better fit, but it will be hard to get the scaling correct. For now, we can drop `J1` but I suggest we return to it at a later time

In [24]:
#code to drop J1

#Code to bring in CFPB column (HOUSESAT, SWB_1)(strech goal)(read note in Employment Status)

### ```Do You Spend More Than, Less Than, or Equal What You Make?``` ------- IMPORTANT ------

This column, `J3`, is another column that I really want to save. Its the closest thing we have to see how much they spend compared to how much they make. However, I didn't find anything in the CFPB dataset that matched this. If we someone knows how we can combine the two with regards to this column, please let me know! (I think `MANAGE1_2` from the CFPB dataset was close, what do you think?)

In [25]:
#code to drop J3

### ```How Difficult is it to Cover Expenses?```

 `J4` in the FINRA dataset asks `'In a typical month, how difficult is it for you to cover your expenses
and pay all your bills?'`. I think `FWB1_5` in the CFPB dataset is close to this. It states `'I am just getting by financially'`. The difficulty is figuring out how to put them on the same scale. The FINRA column is scaled from 1 to 3, while the CFPB scale is 1 to 5. I think something we could possibly do is set 1 to 1, 3 to 2, and 5 to 3, with 2 split between 1 and 2, and 4 split between 2 and 3. However we decided to do it, I think its important that we use this column.

In [26]:
#somehow bring the column in and combine them lol

### ```How Confident are you that You Could Come Up with $2000 Dollars Unexpectedly```

```J20``` has this question in the FINRA dataset, and I think its a good way to see how well prepared people are financially. There is a column in the CFPB dataset that has something similar, `FWB1_1`, which says `'I could handle a major unexpected expense'`. However, I think its fine if we leave this as a strech goal for now.

In [27]:
#code to drop J20 from FINRA

#code to bring in FWB_1 (read note in Employment Status)

### CFPB columns

### `Paid creditcard in full`

I think whether or not a person pays their card in full could be a good measure of their financial understanding (and even financial standing to some extent as well). However, `MANAGE1_3` in the CFPB dataset and `F2_1` in the FINRA dataset word the questions differently enough that combining the two columns will be pretty difficult. I'll drop `F2_1` for now and we can consider it more in a later date

In [28]:
#drop F2_1

### `I follow-through on financial goals I set for myself.`

Column `ACT1_2` in the CFPB column has something very similar in the FINRA dataset, column `J43`, which asks `'If you were to set a financial goal for yourself today, how confident are you in your ability to achieve it?'`. The only problem is that the CFPB column has a range from 1 to 5, while the FINRA one has a range from 1-4. It might be something we will want to look into, but for now we can drop it.

In [29]:
#drop ACT1_2 column

#add J43

### `A Non-Retirement Savings Account`

the column `AUTOMATED_2` in the CFPB column has its counterpart in column `B2` of the FINRA dataset, which states `'Do you [Does your household] have a savings account, money marketaccount, or CDs?'`. The CFPB column has three values, but tbh two of them are pretty much the same. Therefore using the two of them should be almost no problem

In [30]:
#code to bring in B2

#code to change value names and get AUTOMATED_2 values in line with B2

### `Student/Education Loan (for yourself or someone else)`

The CFPB column `PRODHAVE_8` does have something similar in the `G30` columns in FINRA, which as if you have student loans from youself, your spouse, your children, grandchildren, or other individual. Its a bit messy but should we decide to bring it in, it should be easy to clean up the mess.

In [31]:
#code to bring in data

#code to adjust value names

### `Used pawn loan or auto title loan`

The column in CFPB `PRODUSE_2` has something similar named `G25_1` in the FINRA dataset. Specifically, they both mention auto title loans. I'm not sure how important this is, and considering that the FINRA one makes no mention of the pawn loan, I think its safe to delete this column.

In [32]:
# delete PRODUSE_2

### Only Present in one dataset

These are all the columns that are only present in one dataset, and since individual analysis are already being done, I will drop them here.
* ```STATEQ```
* ```A21_2015```
* ```J2```
* ```J5```
* ```J32```
* ```E8```
* ```E15_2015```
* ```F2_3```
* ```F2_4```
* ```F2_5```
* ```M40```
* ```M20```
* ```M21_1```
* ```M21_2_2015```
* ```M21_3```
* ```M6```
* ```M9```
* ```M10```
* ```E7```
* ```F2_2```

From CFPB
* ```fpl```
* ```FS2_3```
* ```SUBKNOWL1```
* ```PROPPLAN_3```
* ```PROPPLAN_1```
* ```MANAGE1_1```
* ```SAVEHABIT```
* ```SAVINGSRANGES```
* ```PRODUSE_1```
* ```FWBscore```
* ```FSscore```

In [33]:
#Drop columns